---
title: About Voter’s Edge
published: Published
weight: 0
section: About
priority: Minor,
test_keys: "about"
keywords: ""
description: ""
card_image: ""
---

h4
  | History of Voter’s Edge

p.
  History of Voter’s Edge here.

h4 
  | About MapLight

p.
  Maplight...

hr.section

h4 
  | Advisory Board

ul
  li
    | Advisor name

h4 
  | Partners

ul
  li
    | Partner name

h4 
  | Funders

ul
  li
    | Funder name


h4
  | Team

ul
  li
    | Team member name

